@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
--Paleblue: hsl(225, 100%, 94%);
--Bright: hsl(245, 75%, 52%);
--Verypale : hsl(225, 100%, 98%);
--Desaturated: hsl(224, 23%, 55%);
--Dark: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Paleblue);
    font-family: 'Red Hat Display', sans-serif;
}
.container{
border: 2px solid var(--Paleblue);
width: 300px;
border-radius: 10px;
background-color: white;
margin-top: 20px;
/* height: 100vh; */
}

.illustration-hero{
  border-start-start-radius: 10px;
  border-top-right-radius:10px ;
}
.container h3{
    text-align: center;
    margin: 10px;
    font-weight: 900;
}
.container p{
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;

}
.description{
    /* font-weight: 500; */
    color: var(--Desaturated);
}
.plan{
    background-color: var(--Verypale);
    color: var(--Desaturated);
    border: 2px solid var(--Verypale);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
    padding: 0.6rem;
}
/* .plan p{
    display: inline;
    margin-left: 1rem;
} */
.plan table img{
    width: 2.7rem;
    margin-right: 1rem
}
.plan table{
    font-size: small;
}
.plan table a{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--Bright);
}
.plan span{
    color: var(--Dark);
    font-weight: 700;
}
.container button{
    align-items: center;
    width: 90%;
    height: 40px;
    background-color: var(--Bright);
    border-radius: 0.5rem;
    border-style: none;
    color: white;
    box-shadow: ;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}

.cancel a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 19px;
    font-weight: 700
}
/* hovers */
.plan table a:hover{
    cursor: pointer;
    text-decoration: none;
}
.container button:hover{
    cursor: pointer;
    background-color: rgb(115, 115, 223);
}
.cancel:hover{
    cursor: pointer;
}

@media(min-width:1000px){
    body{
        background-image: url("pattern-background-desktop.svg");
        background-repeat: no-repeat;
    }
}
@media(max-width:375px){
    body{
        background-image: url("pattern-background-mobile.svg");
        background-repeat: no-repeat;
    }
}